SUPABASE_URL=https://gyqrhtvfqwvahxtubivg.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5cXJodHZmcXd2YWh4dHViaXZnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU2NjUzOTksImV4cCI6MjA5MTI0MTM5OX0.aAleKJDCxYjKaph6MtXcWJ2fJAhULJQS_SwwgMhWbfk
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imd5cXJodHZmcXd2YWh4dHViaXZnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTY2NTM5OSwiZXhwIjoyMDkxMjQxMzk5fQ.o0Lt_t5FQFk-T-5LddLu286725h9spyOQ0kJ7AmcyWY
ALLOWED_ORIGINS=
ZOHO_SMTP_HOST=
ZOHO_SMTP_PORT=
ZOHO_SMTP_USER=
ZOHO_SMTP_PASS=